#to prevent backup of vim folder at esat
_vim/nsr.skip

#Vundle should be included
#it is declared as submodule
!_vim/bundle/Vundle.vim/

#vim saved sessions
_vim/session/*

#Vim swp files
*.swp

#mypy cache
*/.mypy_cache/
